
<h2 class="uk-heading-divider" style="padding-left: 20px;"> La ville de Monastir remporte le concours "Cities Challenge Global Climate" et
     la Banque européenne d'investissement adopte le projet Monastir comme ville durable </h2>
     <div uk-slideshow="animation: push">

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" width="600px">
    
            <ul class="uk-slideshow-items">
                <li>
                    <img src="assets\img\act2-0.jpg" alt="" uk-cover>
                </li>
                <li>
                    <img src="assets\img\act2-1.jpg" alt="" uk-cover>
                </li>
                <li>
                    <img src="assets\img\act2-2.png" alt="" uk-cover>
                </li>
            </ul>
    
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    
        </div>
    
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
    
    </div>
    <h3 class="uk-padding">M. Monther Marzouk, maire de Monastir, assistera aux travaux de la 25e session de la COP 25 à Madrid,
         qui se déroulera jusqu'au 13 décembre 2019, en Espagne, pour soutenir la candidature et la représentation 
         de la Tunisie à cet événement. Monastir a remporté le cours "Challenging Cities for a Global Climate" dans cette session,
          après une sélection difficile parmi une centaine de villes qui ont postulé pour le défi posé par la Banque européenne 
     d'investissement et les villes climatiques mondiales avec quatre autres villes dans le monde sont Cotonou (Bénin), McKendy (Ouganda),
         Jambi. (Indonésie) et Recife (Brésil). Félicitations à la ville de Monastir et félicitations à la Tunisie</h3>