
<h2 class="uk-heading-divider" style="padding-left: 20px;"> Kairouan féte l'anniversaire du Prophète, un million de visiteurs , activité économique important pour la ville</h2>
    <div uk-slideshow="animation: push">

       <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" width="600px">
   
           <ul class="uk-slideshow-items">
               <li>
                   <img src="assets\img\act3-2.jpg" alt="" uk-cover>
               </li>
               <li>
                   <img src="assets\img\act3-1.jpg" alt="" uk-cover>
               </li>
               <li>
                   <img src="assets\img\act2-4.png" alt="" uk-cover>
               </li>
           </ul>
   
           <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
           <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
   
       </div>
   
       <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
   
   </div>
   <h3 class="uk-padding">La ville tunisienne de Kairouan a commencé à commémorer l'anniversaire du Prophète, à travers un festival qui devrait attirer au fil du temps un grand nombre de visiteurs des villes et des États tunisiens.
    Kairouan (le festival de l'anniversaire du prophète de Kairouan 2019) s'est ouvert avec un large programme d'activités qui se terminera le dimanche 10 novembre prochain.

    Les habitants de la ville sont venus à cette occasion en préparant des plats populaires pour lesquels Kairouan (le symbole de la civilisation islamique de la Tunisie) est connue, notamment la "bouillie de zakku", Al-Kuftaji et Al-Lababi. L'encens et les parfums sentaient partout, et les murs et les magasins portaient des vêtements traditionnels kairouans de tapis, de foin et autres, ainsi que des représentations et des chants.
    Kairouan commémore cet anniversaire avec un grand élan ces dernières années, après que sa célébration sous le règne de Zine El Abidine Ben Ali se soit limitée à la cuisson de la bouillie, alors que les chansons et les programmes cérémoniels étaient absents.</h3>