<h1 class="uk-heading-divider" style="padding-left: 20px;"> Actualités </h1>
<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <a routerLink="/act1"><div class="uk-card uk-card-default uk-card-body">
            <p>Kairouan féte l'anniversaire du Prophète, un million de visiteurs</p>
            <img src="/assets/img/act2-4.png" >
        </div> </a>
        <a routerLink="/act2"><div class=" uk-grid-small uk-grid-match uk-card-body uk-card-default uk-card" uk-grid>
            <p>La ville de Monastir remporte le concours "Cities Challenge Global Climate" 
                et la Banque européenne d'investissement adopte le projet Monastir comme ville durable </p>
            <img src="/assets/img/act2-0.jpg" >
        </div></a>
        <a routerLink="/act3"><div class=" uk-grid-small uk-grid-match uk-card-body uk-card-default uk-card" uk-grid>
            <p>Visite du Maire de Sousse Mr Taoufik Laribi à la ville allemande "Braunschweig"</p>
            <img src="/assets/img/act1-0.jpg" >
        </div></a>
</div>
   
