
<h2 class="uk-heading-divider" style="padding-left: 20px;"> Visite du Maire de Sousse Mr Taoufik Laribi à la ville allemande "Braunschweig"</h2>
    <div uk-slideshow="animation: push">

       <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" width="600px">
   
           <ul class="uk-slideshow-items">
               <li>
                   <img src="assets\img\act1-0.jpg" alt="" uk-cover>
               </li>
               <li>
                   <img src="assets\img\act1-1.jpg" alt="" uk-cover>
               </li>
               <li>
                   <img src="assets\img\backg.jpg" alt="" uk-cover>
               </li>
           </ul>
   
           <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
           <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
   
       </div>
   
       <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
   
   </div>
   <h3 class="uk-padding"> Le dimanche 17 Février 2019, Une visite officielle de Mr Taoufik Laaribi, Maire de la municipalité de Sousse, 
    à la ville Allemande "Braunschweig".
    Afin de profiter de l'expérience allemande en matière d’évaluation et de traitement des déchets solides,
     il a y eu lieu à l’usine de recyclage du plastique.
    Une réunion de travail à été élaboré entre le Maire de la ville de Sousse et le Maire  de la ville de Braunschweig 
    ainsi que la vice-présidente pour le futur projet de "Oued- Hamdoun", avec l'appui de l'Université de Braunschweig 
    et l'Institut supérieur des sciences agricoles de Chatt Mariam et sous la supervision de la municipalité de Sousse.
    Il a aussi participé aux travaux du symposium internationale "Re-Water" autour de la gestion des eaux urbaines et
    sous terraines.</h3>